{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{% static 'css/ingreso-registro.css' %}">
</head>
<body>
    <main>
        <!-- Muestra los mensajes con colores según su tipo -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}      

        {% block content %}
        <form method="post" action="{% url 'ingreso' %}">
            {% csrf_token %}
            <div>
                <h2>Inicio de Sesión</h2>
                <input type="text" name="nombre" placeholder="Usuario" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Ingresar</button>

                <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
                <p>¿Has olvidado tu contraseña?</p><a href="{% url 'restablecer' %}">Ingrese aquí</a>
            </div>
        </form>
        {% endblock %}
    </main>
</body>
</html>

